/DanubiusInfo.B4USApi.Api/bin
/DanubiusInfo.B4USApi.Api/obj
/DanubiusInfo.B4USApi.Data/bin
/DanubiusInfo.B4USApi.Data/obj
/DanubiusInfo.B4USApi.DTO/bin
/DanubiusInfo.B4USApi.DTO/obj
/DanubiusInfo.B4USApi.Providers/bin
/DanubiusInfo.B4USApi.Providers/obj
/DanubiusInfo.B4USApi.Services/bin
/DanubiusInfo.B4USApi.Services/obj
/DanubiusInfo.B4USApi.UOW/bin
/DanubiusInfo.B4USApi.UOW/obj
/packages
/.vs
